body{
    background-color: rgba(102, 32, 99, 0.322);
}

@font-face {
    font-family:'Open Sans' ;
    src: url('/fontes/ShadowsIntoLight-Regular.ttf') format('truetype');
}

.container{
    display: grid;
    grid-template-columns: 1fr;   

}

.menu-container{
    display: grid;
    padding: 2%; 
    grid-template-columns: 1fr;
    width: 30%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    border-left:10px dotted rgba(102, 32, 99, 0.322);
    padding-top:5%;
    padding-bottom: 5%;
}

.logo{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 100%;
}

.email{
    margin-top:20px;
    padding: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 150%;
}

.senha{
    margin-top:20px;
    
    padding: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 150%;
}

.button{
    margin-top: 20px;
}

.estilo-button{
    background-color: rgba(228, 174, 184, 0.534);
    cursor: pointer;
    width: 30%;
    padding: 5px;
    border-radius: 0px 10px 0px 10px;
    float: right;
    border:2px solid rgb(142, 192, 142);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 120%;
}

.estilo-button:hover{
    background-color: rgb(238, 83, 109);
}

.estilo-formulario{
    border: none;
    border-bottom:1px solid rgb(216, 105, 105);
    width:90%;
    padding:10px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border-bottom:1px solid rgb(216, 105, 105);
    outline: 0;
} 